* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ad947c;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: ubuntu;
}

header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px
}

header div {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

header h1 {
    color: #ad947c;
}

header a {
    color: #ad947c;
    text-decoration: none;
}

.block {
    min-height: 100vh;
}

#accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

#accueil img {
    width: 100%;
    height: 70vh;
}

#accueil button {
    background-color: black;
    color: #ad947c;
    padding: 10px;
    border-radius: 7px;
    border: none;
    align-items: center;
    font-size: 17px;
}

#concept {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#concept div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#concept h1 {
    background-color: black;
    width: 500px;
    padding: 10px;
    color: #ad947c;
    text-align: center;
}

#concept p {
    font-size: 20px;
}

#concept img {
    width: 300px;
    border-radius: 10px;
}

