* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ad947c;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: ubuntu;
}

header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px
}

header div {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

header h1 {
    color: #ad947c;
}

header a {
    color: #ad947c;
    text-decoration: none;
}

.block {
    min-height: 100vh;
}

#accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

#accueil img {
    width: 100%;
    height: 70vh;
}

#accueil button {
    background-color: black;
    color: #ad947c;
    padding: 10px;
    border-radius: 7px;
    border: none;
    align-items: center;
    font-size: 17px;
}

#concept {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#concept div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#concept h1 {
    background-color: black;
    width: 500px;
    padding: 10px;
    color: #ad947c;
    text-align: center;
}

#concept p {
    font-size: 20px;
}

#concept img {
    width: 300px;
    border-radius: 10px;
}

#produits {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#produits h1 {
    background-color: black;
    width: 500px;
    padding: 10px;
    color: #ad947c;
    text-align: center;
    align-self: flex-end;
}

#produits img, #galerie img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.galerie_photos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
}

.galerie_photos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.galerie_photos h2 {
    text-align: center;
    margin-top: 10px;
    background-color: black;
    color: #ad947c;
    border-radius: 8px;
    width: max-content;
    padding: 5px;
}

#galerie {
    margin-top: 5vh;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#galerie h1 {
    background-color: black;
    width: 500px;
    padding: 10px;
    color: #ad947c;
    text-align: center;
}

#galerie div {
    display: flex;
    gap: 5%;
}

footer {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ad947c;
    padding: 10px;
}

.footer_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

footer button {
    background-color: #ad947c;
    border-radius: 10px;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

footer button:hover {
    background-color: #b8a28e;
}